<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>clgvibe</title>
	<link rel="shortcut icon" type="image/x-icon" href="./img/favicn.png">
    <meta name="description" content= "clgvibe- A simple and effective way to find and get what you want in just few taps of your fingers. " />
    <meta name="robots" content= "index, follow">

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="css/all.css">
        <!--fontawseom-->
 <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

   <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
	></script>

    <!-- --------- Owl-Carousel ------------------->
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">

    <!-- ------------ AOS Library ------------------------- -->
    <link rel="stylesheet" href="css/aos.css">

    <!-- Custom Style   -->
    <link rel="stylesheet" href="css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@500;700&family=Lobster&display=swap" rel="stylesheet" />

</head>

<body>


    <!-- ----------------------------  Navigation ---------------------------------------------- -->

    <nav class="nav">
        <div class="nav-menu flex-row">
            <div class="nav-brand">
                <a href="#" class="text-gray"><img class="logo" src="./img/logo.svg" alt=""></a>
            </div>
            <div class="toggle-collapse">
                <div class="toggle-icons">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
            <div>
                <ul class="nav-items">
                    <li class="nav-link">
                        <a href="/login">Log-In</a>
                    </li>
                    <li class="nav-link">
                        <a href="#category">Colleges</a>
                    </li>
                    <li class="nav-link">
                        <a href="#about-us">About Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- ------------x---------------  Navigation --------------------------x------------------- -->

    <!----------------------------- Main Site Section ------------------------------>

    <main>

        <!------------------------ Site Title ---------------------->

        <section class="site-title">
            <div class="site-background" data-aos="fade-up" data-aos-delay="100">
                <h1>clgvibe</h1>
                <h3>for students by students</h3>
                <div class="container" style="margin: 3rem 5vw;">
                <a href="/login" class="but">Log-In</a>
                <a href="/signup" class="but">Sign-Up</a>
                </div>
                <h3 class="mri">clgvibe works for bringing the students of diffrent colleges together to make better tomarrow.</h3>
            </div>
        </section>

        <!------------x----------- Site Title ----------x----------->

        <!-- --------------------- Carousel ----------------- -->

        <section>
            <div class="blog">
                <div class="container">
                    <div class="owl-carousel owl-theme blog-post">
                        <div class="blog-content" data-aos="fade-right" data-aos-delay="200">
                            <img class="alt" src="./img/post.png" alt="post-1" style="height: 59%;; width:93%; margin-left: 4%;">
                            <div class="blog-title">
                                <h3>Post image, text and videos</h3>
                                <a href="/login" class="btn btn-blog">Log-In</a>
                            </div>
                        </div>
                        <div class="blog-content" data-aos="fade-in" data-aos-delay="200">
                            <img src="./img/chat.png" alt="post-1">
                            <div class="blog-title">
                                <h3>Chat with friends</h3>
                                <a href="/login" class="btn btn-blog">Jump</a>
                            </div>
                        </div>
                        <div class="blog-content" data-aos="fade-left" data-aos-delay="200">
                            <img src="./img/notes.png" alt="post-1">
                            <div class="blog-title">
                                <h3>Download and upload "Notes"</h3>
                                <a href="/login" class="btn btn-blog">Jump</a>
                            </div>
                        </div>
                        <div class="blog-content" data-aos="fade-right" data-aos-delay="200">
                            <img src="./img/find1.jpg" alt="post-1">
                            <div class="blog-title">
                                <h3>Find friends</h3>
                                <a href="/login" class="btn btn-blog">Jump</a>
                            </div>
                        </div>
                    </div>
                    <div class="owl-navigation">
                        <span class="owl-nav-prev"><i class="fas fa-long-arrow-alt-left"></i></span>
                        <span class="owl-nav-next"><i class="fas fa-long-arrow-alt-right"></i></span>
                    </div>
                </div>
            </div>
        </section>

        <!-- ----------x---------- Carousel --------x-------- -->

        <!-- ---------------------- Site Content -------------------------->

        <section class="container">
            <div class="site-content">
                <div class="posts">
                    <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                        <div class="post-image">
                            <div>
                                <img src="./img/clgstudents.jpg" class="img" alt="blog1">
                            </div>
                        </div>
                        <div class="post-title">
                            <a href="#">When differnt minds come together magic happens!</a>
                        </div>
                    </div>
                    <hr>
                    <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                        <div class="post-image">
                            <div>
                                <img src="./img/clgbuilding.png" class="img" alt="blog1">
                            </div>
                        </div>
                        <div class="post-title">
                            <a href="#">Buildings can never stop ideas to flow</a>
                        </div>
                    </div>
                    <hr>
                    <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                        <div class="post-image">
                            <div>
                                <img src="./img/clgstatics.jpg" class="img" alt="blog1">
                            </div>
                        </div>
                        <div class="post-title">
                            <a href="#">The Average annual enrollment in Indian colleges comes out to be 30.6 million.<br>source:AISHE</a>
                        </div>
                    </div>
                    <hr>
                    
                    <div class="pagination flex-row">
                        <a href="#" class="pages">You can be the reason of better future for generations to come !</a>
                    </div>
                </div>
                <aside class="sidebar">
                    <div id="category">
                        <h2>Colleges</h2>
                        <ul class="category-list">
                            <li class="list-items" data-aos="fade-left" data-aos-delay="100">
                                <a href="#">MEERUT COLLEGE MEERUT</a>
                                <span>(05)</span>
                            </li>
                            <li class="list-items" data-aos="fade-left" data-aos-delay="200">
                                <a href="#">D. N. Degree College Meerut</a>
                                <span>(02)</span>
                            </li>
                            <li class="list-items" data-aos="fade-left" data-aos-delay="300">
                                <a href="#">Raghunath Girl’s Post Graduate College</a>
                                <span>(07)</span>
                            </li>
                            <li class="list-items" data-aos="fade-left" data-aos-delay="400">
                                <a href="#">N A S College Meerut</a>
                                <span>(01)</span>
                            </li>
                            <li class="list-items" data-aos="fade-left" data-aos-delay="500">
                                <a href="#">MIET COLLEGE</a>
                                <span>(01)</span>
                            </li>
                            <li class="list-items" data-aos="fade-left" data-aos-delay="500">
                                <a href="#">Swami Vivekanand Subharti University</a>
                                <span>(02)</span>
                            </li>
                            <li class="list-items" data-aos="fade-left" data-aos-delay="500">
                                <a href="#">IIMT UNIVERSITY</a>
                                <span>(09)</span>
                            </li>
                            <li class="list-items" data-aos="fade-left" data-aos-delay="500">
                                <a href="https://forms.gle/DibNPSpAAGJfYYQW9">Add your College</a>
                                <span>+</span>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="popular-tags">
                        <h2>Popular Tags</h2>
                        <div class="tags flex-row">
                            <span class="tag" data-aos="flip-up" data-aos-delay="100">Software</span>
                            <span class="tag" data-aos="flip-up" data-aos-delay="200">Technology</span>
                            <span class="tag" data-aos="flip-up" data-aos-delay="300">Colleges</span>
                            <span class="tag" data-aos="flip-up" data-aos-delay="400">Illustration</span>
                            <span class="tag" data-aos="flip-up" data-aos-delay="500">Design</span>
                            <span class="tag" data-aos="flip-up" data-aos-delay="600">Study</span>
                            <span class="tag" data-aos="flip-up" data-aos-delay="700">Notes</span>
                            <span class="tag" data-aos="flip-up" data-aos-delay="800">Project</span>
                        </div>
                    </div>
                </aside>
            </div>
        </section>

        <!-- -----------x---------- Site Content -------------x------------>

    </main>

    <!---------------x------------- Main Site Section ---------------x-------------->


    <!-- --------------------------- Footer ---------------------------------------- -->

    <footer class="footer">
        <div class="container">
            <div id="about-us" data-aos="fade-right" data-aos-delay="200">
                <h2>About us</h2>
                <p>Students are the future and we are doing our best to make that happen. So, join the community today and lets do it together. </p>
            <div data-aos="fade-right" data-aos-delay="200" id="termsphone">
                <a href="/privacy">Privacy Policy</a>
                <a href="/termsofuse">Terms Of Use</a>
            </div>
            </div>
            <div class="instagram" data-aos="fade-left" data-aos-delay="200">
                <h2>Colleges</h2>
                <div class="flex-row">
                    <img src="./img/ccsu.png" alt="insta1">
                    <img src="./img/meerut-college-meerut_owler_20160302_223540_original.png" alt="insta2">
                    <img src="./img/iimtlogo.jpg" alt="insta3">
                </div>
                <div class="flex-row">
                    <img src="./img/dn.jpg" alt="insta4">
                    <img src="./img/nas.jpg" alt="insta5">
                    <img src="./img/shubharti.jpg" alt="insta6">
                </div>
            </div>
            <div data-aos="fade-right" data-aos-delay="200" id="termsdesk">
                <a href="/privacy">Privacy Policy</a>
                <a href="/termsofuse">Terms Of Use</a>
            </div>
            
        </div>
        <div class="rights flex-row">
            <h4>
                Copyright ©2021 All rights reserved | clgvibe
            </h4>
        </div>
        <div class="move-up">
            <span><i class="fas fa-arrow-circle-up fa-2x"></i></span>
        </div>
    </footer>

    <!-- -------------x------------- Footer --------------------x------------------- -->

      <!-- ---------------------------- Intro  ---------------------------------------------- -->

      <div class="intro">
        <div class="intro-text">
          <h1 class="hide">
            <span class="text">clgvibe</span>
          </h1>
          <h1 class="hide">
            <span class="text">for students by students</span>
          </h1>
        </div>
      </div>
      <div class="slider"></div>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js" integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ=="crossorigin="anonymous"></script>
      <script src="js/app.js"></script>


    <!-- ------------x---------------- Intro  -------------------------x--------------------- -->


    <!-- Jquery Library file -->
    <script src="js/Jquery3.4.1.min.js"></script>

    <!-- --------- Owl-Carousel js ------------------->
    <script src="js/owl.carousel.min.js"></script>

    <!-- ------------ AOS js Library  ------------------------- -->
    <script src="js/aos.js"></script>

    <!-- Custom Javascript file -->
    <script src="js/home.js"></script>
</body>

</html>
