<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/forgotpassword.css  ">
    <link rel="icon" type="image/svg-xml" href="./img/favicn.png" />
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h3>Reset Password Form:</h3>
    <form id="resetform" action="/resetpassword" method="post">
       <div class="input-div pass">
            <div class="div">
              <h5>New Password</h5>
              <input required type="password" name="password" class="password input" id="password"/>
            </div>
          </div>
       <div class="input-div pass">
            <div class="div">
              <h5>Confirm Password</h5>
              <input required type="password" name="cpass" class="password input" id="cpass" />
            </div>
          </div>
        
        <button id="submit" type="submit" class="verify">Update password</button>
    </form>
    <p id="msg">{{message}}</p>
    </div>
</body>
<script src="/js/login.js"></script>
</html>
