<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>File Upload</title>
    <link rel="stylesheet" href="/css/upload.css" />
    <link rel="icon" type="image/svg-xml" href="./img/favicn.png" />
  </head>
  <body>
   
    <div class="wrapper">
       <div class="title">UPLOAD NOTES</div>
      <form action="/upload/notes" method="POST" enctype="multipart/form-data">
        <div class="choose_file">
          <label id="drag-area" for="choose_file">
            <input type="file" id="choose_file" name="notes" required />
            <input hidden type="text" value="{{filename}}" name="fileName" />
            <input hidden type="text" value="{{filepages}}" name="filepages" />
            <span>Drag & Drop</span>
            <span>OR</span>
            <span>Choose Files</span>
          </label>
        </div>
        <button style="display: inline-block; padding: 1rem 2rem" type="submit">
          Submit
        </button>
      </form>
      {{extError}}
    </div>
    <script>
      window.onload = () => {
        const dragArea = document.querySelector("#drag-area");
        const chooseFile = document.querySelector("#choose_file");

        dragArea.addEventListener("dragover", (event) => {
          event.preventDefault();
        });

        dragArea.addEventListener("drop", (event) => {
          event.preventDefault();
          if(event.dataTransfer.files.length === 1) {
            chooseFile.files = event.dataTransfer.files;
          } else {
            alert("Please select Only one file");
          }
        });
      };
    </script>
  </body>
</html>
