<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>clgvibe</title>

    <meta name="description" content= "clgvibe- A simple and effective way to find and get what you want in just few taps of your fingers. " />
    <meta name="robots" content= "index, follow">
    <link rel="icon" type="image/svg-xml" href="./img/favicn.png" />
    
</head>
<style>
  *{
    font-family: 'Open Sans', sans-serif;
  }
  body{
    background: url('img/desktopverify.png');
    background-size: 970px 580px;
    background-position: center -21px;
    background-repeat: no-repeat;
    overflow: hidden;
  }
  .footer{
    position: fixed;
    bottom: 10%;
    width: 100%;
  }
  .item{
    padding: 10px 26px;
    border-radius: 10px;
    width: fit-content;
    font-size: 20px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 22px;
  }
  .item a{
    color: #f93;
    text-decoration: none;
  }
  .item1{
    background: #f93;
    color: #fff;
    padding: 2px 5px;
    border-radius: 10px;
    width: fit-content;
    font-size: 20px;
    margin: 0px auto;
    text-align: center;
  }
  .item1 a{
    color: gray;
    text-decoration: none;
  }
  @media screen and (max-width: 980px){
  body{
    background: url('img/verifymobo.png');
    background-size: 357px 730px;
    background-position: center top;
    background-repeat: no-repeat;

  }
  .item{
    font-size: 2vw;
    padding: 0px;
    margin-bottom: 40px;
  }
  .item1{
    font-size: 2vw;
  }
  }
</style>
<body>
    <div class="footer">
      <div class="item">
        if you didn't receive the mail contact us at <a href="mailto: helpclgvibe@gmail.com">helpclgvibe@gmail.com</a> with your username and college name
      </div>
      <div class="item1">
        Refer us to your friends so that we can create a beautiful world away from this noisy world.
      </div>
    </div>
</body>
</html>